.buttonGeneric{
    background-color: #FFD400;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
}

.info-products-description{
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.title-info-products-description{
    color: #656567;
}

.info-color-black{
    color: #000000;
}