html {
  scroll-behavior: smooth;
}

.logo {
  background-color: #F7F7F8;
  border-radius: 25px;
  cursor: pointer;
}

.support {
  border: 2px solid #F7F7F8;
  border-radius: 25px;
  cursor: pointer;
}

.container-products{
  background-color: #F7F7F8;
}

.container-footer{
  background-color: #1C1C1C;
  color: #F1F1F3;
  min-height: 75px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-generic{
  background-color: #F0F0F0;
  min-height: 60vh;
  border-radius: 50px;
}

.containerForm{
  background-color: #F7F7F8;
  border-radius: 25px;
  padding: 20px;
  /* margin: 20px; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}