html {
  scroll-behavior: smooth;
}

.logo {
  background-color: #F7F7F8;
  border-radius: 25px;
  cursor: pointer;
}

.support {
  border: 2px solid #F7F7F8;
  border-radius: 25px;
  cursor: pointer;
}

.container-products{
  background-color: #F7F7F8;
}

.container-footer{
  background-color: #1C1C1C;
  color: #F1F1F3;
  min-height: 75px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-generic{
  background-color: #F0F0F0;
  min-height: 60vh;
  border-radius: 50px;
}

.containerForm{
  background-color: #F7F7F8;
  border-radius: 25px;
  padding: 20px;
  /* margin: 20px; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.container-white{
  border-radius: 39.97px;
}

.line-divisor{
  color: black;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  height: 2px;
  width: 100%;
  border-width: 1px 2px 3px 4px; /* arriba, derecha, abajo, izquierda */
  stroke-width: 5px; /* Para elementos SVG */
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.2); /* El cuarto valor (5px) es el spread */
}

.label-transaction{
  font-size: 14.65px;
  color: #707070;
}

.value-transaction{
  font-size: 14.65px;
  color: #1C1C1C;
  font-weight: bold;
}

.line-divisor-dotted{
  color: #707070;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  border-color: #707070;
  /* height: 1px; */
  width: 100%;
  border-width: 1px; /* arriba, derecha, abajo, izquierda */
  border-style: dashed;
}

.installments{
  height: 30px;
  background-color: white;
  border:none;
  border: solid 1px black;
  border-radius: 8px;
}

.label_installments{
  font-size: 12px;
}